<div class="result">
	<div class="icon results-icon"></div>
	<img class="icon-svg" src="img/icons/result-oil.svg">
	<span class="result-name">Oil</span>
	<span class="result-value"> </span>
</div>
<div class="result">
	<div class="icon results-icon"></div>
	<img class="icon-svg" src="img/icons/result-gas.svg">
	<span class="result-name">Gas</span>
	<span class="result-value"> </span>
</div>
<div class="result">
	<div class="icon results-icon"></div>
	<img class="icon-svg" src="img/icons/result-money.svg">
	<span class="result-name">Money</span>
	<span class="result-value"> </span>
</div>
<div class="result">
	<div class="icon results-icon"></div>
	<img class="icon-svg" src="img/icons/result-calories.svg">
	<span class="result-name">Calories Burned</span>
	<span class="result-value"> </span>
</div>