<div class="result">
	<span class="result-name">Oil</span>
	<img src="img/icons/result-oil.svg">
	<span class="result-value"> {{ oil }} </span>
	<span class="result-measurement">Barrels</span>
</div>
<div class="result">
<span class="result-name">Gas</span>
	<img src="img/icons/result-gas.svg">
	<span class="result-value"> {{ gas }} </span>
	<span class="result-measurement">Gallons</span>
</div>
<div class="result">
	<span class="result-name">Money</span>
	<img src="img/icons/result-money.svg">
	<span class="result-value"> {{ money }} </span>
	<span class="result-measurement">Dollars</span>
</div>
<div class="result">
	<span class="result-name">Fitness</span>
	<img src="img/icons/result-calories.svg">
	<span class="result-value"> {{ calories }} </span>
	<span class="result-measurement">Calories</span>
</div>
