@import url("normalize.css");
@import url("topcoat-mobile-light.css");
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Arvo:400,700);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/* SURVEY CHOICES
============================*/
.options-wrapper {
	display: none;
	width: 100%;
}
.option {
	display: inline-block;
	width: 30%;
}
.option:hover {
	cursor: pointer;
}
#start-options {
	display: block;
}

/* LIST OF COMPLETED SURVEYS
============================*/

#survey-list {}
#survey-list ul.completed-surveys { }
#survey-list .name {}
#survey-list .resources {}