@import url("normalize.css");
@import url("topcoat-mobile-light.css");
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Arvo:400,700);
@import url("survey-styles.css");


html {
	padding: 20px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #2B3E4F;
}

header {
	height: 82px;
	width: 100%;
	background-color: #F9FAFC;
	border-bottom: 2px solid #D4D5D9;
	padding-top: 16px;
	padding-left: 90px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#wrapper {
	margin: 0 auto;
	max-width: 960px;
	background-color: #F0F1F5;
	margin-top: 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.logo {
	width: 100%;
	max-width: 126px;
	min-height: 50px;
	background-image: url(../img/logo-landscape.svg);
	text-indent: -99999px;
}

/* TYPOGRAPHY
============================*/

h1 {
	font-family: 'Arvo', serif;
	font-size:24px;
	color: #505460;
	line-height: 1.2em;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-top: 16px;
	}
	
h2 {
	font-family: 'Arvo', serif;
	font-size:22px;
	color:#505460;
	line-height:1.6em;
	padding-top:16px;
	letter-spacing:5px;
	text-transform:uppercase;
	}
	
h3 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size:24px;
	text-align: center;
	color:#505460;
	line-height:1.6em;
	letter-spacing:-0.25px;
	padding-top:16px;
	}
	
h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	padding-top:16px;
	letter-spacing:5px;
	clear:both;
	color:#505460;
	}

p {
	font-family:"Arvo", sans-serif;
	font-size:14px;
	color:#6A696C;
	line-height:1.6em;
	margin-bottom:20px;
	margin-top:10px;
	}
	
a {
	font-size:14px;
	font-family:'MuseoSlab500';
	text-decoration:none;
	}
	
a:hover {
	text-decoration:underline;
	}


/* ELEMENTS
============================*/

hr {
   border: 1px dashed #C0C4D0;
   margin-top: 20px;
   margin-bottom: 40px;
   clear: both;
}


/* SURVEY CHOICES
============================*/

#start-survey {
	width: 100%;
	height: auto;
}

#start-options {
	display: block;
	padding: 0 90px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
.options-wrapper {
	display: none;
	width: 100%;
}
.option {
	display: inline-block;
	width: 30%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	text-align: center;
	padding-top:16px;
	margin-left: 2.5%;
	clear:both;
	color:#505460;
}
.option:hover {
	cursor: pointer;
}
.option-transport {
	background-image: url(../img/icons/sedan.svg);
}


/* LIST OF COMPLETED SURVEYS
============================*/

#survey-list {}
#survey-list ul.completed-surveys { }
#survey-list .name {}
#survey-list .resources {}