.choice {
	width: 25%;
	display: inline-block;
	text-align: center;
}
.icon {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	background-color: #DDE2E8;

}
.icon img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
}
.icon:before {
	content: '';
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #DDE2E8;
}
.icon:after {
	content: '';
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: transparent;
}

