#survey-step {
	margin-top: 40px;
	position: relative;
	text-align: center;
}
#metric-sliders, #survey-step, .completed-surveys {
	padding: 0 5%;
}

.choice {
	width: 25%;
	float: left;
	text-align: center;
	display: none;
}
.icon {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	background-color: #DDE2E8;
}
.icon img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
}
.icon-svg {
	position: absolute;
	width: 100%;
	max-width: 150px;
	top: 0px;
	margin-left: -74px;
}
.icon:before {
	content: '';
	width: 100%;
	height: 50%;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.02);
}
.icon:after {
	content: '';
	width: 100%;
	height: 50%;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: transparent;
}
.not-checked.icon {
	-webkit-animation: notchecked 400ms cubic-bezier(0.610, 0.455, 0.000, 1);
	-webkit-animation-fill-mode: both;
}
.checked.icon {
    background-color: #2EB36C;

    -webkit-animation: checked 400ms cubic-bezier(0.610, 0.455, 0.000, 1);
	-webkit-animation-fill-mode: both;
}
.checked.icon-svg {
	-webkit-animation: rotateIn 400ms;
	-webkit-animation-fill-mode: both;
}
.checked.icon:before {
	background-color: rgba(0,0,0,.05);
}
.checked.icon:after {
	background-color: transparent;
}

.fade-out {
	-webkit-animation: fade 400ms linear;
	-webkit-animation-delay: 800ms;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes fade {
    0%  {opacity: 1;}
    100% {opacity: 0;}   
}

@-webkit-keyframes rotateIn {
    0%  {-webkit-transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(180deg);}   
}

@-webkit-keyframes checked {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(90deg);}   
}

@-webkit-keyframes notchecked {
    0%  {-webkit-transform: scale(1);}
    100% { opacity: .75; -webkit-transform: scale(.75);}   
}

.metric-sliders {

}
.metric-sliders .slider {
	width: 100%;
	height: 20px;
	background-color: #D4D5D9;
	margin: 0 auto 5px;
	position: relative;
	text-align: center;
	border-radius: 10px;
}
.metric-sliders .value {
	height: 20px;
	border-radius: 10px;
	background-color: rgba(0,0,0,.15);
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	-webkit-transition: width 700ms cubic-bezier(0.610, 0.455, 0.000, 1); /* older webkit */
-webkit-transition: width 700ms cubic-bezier(0.610, 0.455, 0.000, 1.135); 
   -moz-transition: width 700ms cubic-bezier(0.610, 0.455, 0.000, 1.135); 
     -o-transition: width 700ms cubic-bezier(0.610, 0.455, 0.000, 1.135); 
        transition: width 700ms cubic-bezier(0.610, 0.455, 0.000, 1.135); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.610, 0.455, 0.000, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.610, 0.455, 0.000, 1.135); 
   -moz-transition-timing-function: cubic-bezier(0.610, 0.455, 0.000, 1.135); 
     -o-transition-timing-function: cubic-bezier(0.610, 0.455, 0.000, 1.135); 
        transition-timing-function: cubic-bezier(0.610, 0.455, 0.000, 1.135); /* custom */
}
.metric-sliders .type {
	margin: 0;
	position: relative;
	z-index: 10;
}
.metric-slider .inactive {
	background-color: rgba(0,0,0,.02);
}
.metric-slider .inactive .value {
	width: 0;
}
.metric-sliders .oil .value {
	background-color: #232829;
}
.metric-sliders .money .value {
	background-color: #2EB36C;
}
.metric-sliders .gas .value {
	background-color: #D9D43F;
}
.metric-sliders .emissions .value {
	background-color: #636056;
}
.metric-sliders .calories .value {
	background-color: #DEDE47;
}

.completed-surveys {
	list-style-type: none;
}
.completed-surveys li {
	background-color: #D4D5D9;
	border-radius: 20px;
	padding: 10px 20px;
	text-transform: capitalize;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #505460;
}
.completed-surveys .resources {
	float: right;
}
.completed-surveys .resources div {
	display: inline-block;
}
#survey-step select {
	width: 200px;
	display: block;
	margin: 0 auto 10px;
}
#survey-step select.inactive {
	pointer-events: none;
	opacity: .5;
}


